.git
.gitignore
.venv
venv
env
ENV
__pycache__
*.pyc
*.pyo
*.pyd
.pytest_cache
.mypy_cache
.ruff_cache
.coverage
htmlcov
.DS_Store

notebooks
src

build
dist
tmp
temp
logs
*.log

model_api/__pycache__
model_api/app/__pycache__

src/backend/.env
src/backend/node_modules
src/backend/dist
src/frontend/node_modules
src/frontend/dist

